// phone
@media (max-width: 768px) {
  .nav-list {
    li {
      display: block;
      padding-bottom: 15px;
    }
  }

  .about {
    &__p-title {
      margin: 0;
    }
    &__form {
      margin: 0;
    }
  }

  .partners {
  }

  .contact {
    &__form {
      &__item {
        margin-bottom: 30px;
      }
    }
  }
}

// pad
@media (min-width: 768px) and (max-width: 1200px) {

}